[submodule "packages/urdf_state_space"]
	path = packages/urdf_state_space
	url = https://github.com/rahgirrafi/urdf_state_space.git
[submodule "packages/state_space_control"]
	path = packages/state_space_control
	url = https://github.com/rahgirrafi/state_space_control.git
[submodule "packages/state_space_setup_assistant"]
	path = packages/state_space_setup_assistant
	url = https://github.com/rahgirrafi/state_space_setup_assistant.git
[submodule "packages/state_space_response_viz"]
	path = packages/state_space_response_viz
	url = https://github.com/rahgirrafi/state_space_response_viz.git
[submodule "packages/kontrolem_example_robots"]
	path = packages/kontrolem_example_robots
	url = https://github.com/rahgirrafi/kontrolem_example_robots.git
[submodule "packages/kontrolem_controllers"]
	path = packages/kontrolem_controllers
	url = https://github.com/rahgirrafi/kontrolem_controllers.git
